@use "./variables.scss" as *;

// put your custom CSS here!
.page > #quartz-body .center,
.page > #quartz-body .sidebar.right {
  max-width: 750px;
  min-width: 0;
  margin-left: auto !important;
  margin-right: auto !important;
}
